<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Hello, SmartNinja</title>
        <link rel="stylesheet" href="/static/css/index.css">

    </head>

    <body>
    <ul>
        <li><a href="http://127.0.0.1:5000/about">About me</a></li>
        <li><a href="http://127.0.0.1:5000/portfolio">Portfolio</a></li>
    </ul>
        <h1>Welcome to my homepage</h1>
        <p>Check out our latest improvements</p>
        <img src="/static/img/angelina.png">
    </body>
</html>
