<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>Hello, SmartNinja</title>
        <link rel="stylesheet" href="/static/css/style.css">

    </head>

    <body>
        <a class="link" href="http://127.0.0.1:5000/about">About me</a>
        <a class="link" href="http://127.0.0.1:5000/portfolio">Portfolio</a>
        <h1>Welcome back to HTML ;)</h1>
        <p>Check out our latest improvements</p>
        <img src="/static/img/smartninja-logo.png">
    </body>
</html>