<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>Hello, SmartNinja</title>
        <link rel="stylesheet" href="/static/css/portfolio.css">

    </head>

    <body>
    <ul>
        <li><a href="http://127.0.0.1:5000">HOMEPAGE</a></li>
        <li><a href="http://127.0.0.1:5000/portfolio/fakebook">FAKEBOOK</a></li>
        <li><a href="http://127.0.0.1:5000/portfolio/hair-salon">HAIR SALON</a></li>
        <li><a href="http://127.0.0.1:5000/portfolio/boogle">BOOGLE</a></li>
    </ul>

        <h1>Welcome to portfolio</h1>
        <p>Check out our latest improvements</p>
        <img src="/static/img/portfolio.pg.png">
    </body>
</html>